.navbar {
  padding: 1rem 2rem;
  height: 80px; /* Adjust as needed */
  display: flex;
  align-items: center;
}

.navContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBrand {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 26px;
}

.brandText {
  white-space: nowrap;
  line-height: 1;
}

.navItems {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: 26px;
}

.navLink {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.navItem {
  height: 100%;
  display: flex;
  align-items: center;
}